@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-scroll {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh trượt trục x */
  height: 5px; /* Độ cao của thanh trượt trục y */
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8854c0; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a883cf; 
}


@keyframes slideInFromTopToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideInFromBottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.popup-up {
  transform: translateX(-50%);
  animation: slideInFromBottomToTop 0.4s ease-in forwards;
}

.popup-dow {
  transform: translateX(-50%);
  animation: slideInFromTopToBottom 0.4s ease-in forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-left {
  animation: slideLeft 1s ease forwards;
}

.slide-right {
  animation: slideRight 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-1s5 {
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.fade-in-1s {
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}


@keyframes rotateAnimation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.rotate-effect{
  animation: rotateAnimation 1s ease-in-out forwards;
  transform: rotateY(90deg);
}

.no-scrollbar{
  scrollbar-width: none;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8; /* Đổi màu và độ rộng cần thiết */
}

